@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title </h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">All Hours:</span>
        <span>801-564-7592</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">All Questions, Comments, Queries:</span>
        <span><a href="mailto:charlesjw84@gmail.com">charlesjw84@gmail.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        3332 S 440 E<br />
        Salt Lake City, UT 84115
    </p>
</section>